.topnav {
    background-color: black;
    overflow: hidden;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.active {
    background-color: peru;
}

.topnav a:hover {
    background-color: lightgrey;
    color: black;
}

.headImgHome {
    width: 9600px;
    background-color: lightgrey;
    opacity: 0.8;
}

.textPic {
    font-size: 70px;
    font-family: "Gill Sans MT", serif;
    position: absolute;
    bottom: 200px;
    left: 1000px;
    width: 180px;
    color: black;

}

.forTakeMesage {

    font-family: "B Badr", sans-serif;
    font-size: 40px;
    bottom: 100px;

}

.txt1 {
    position: absolute;
    bottom: 400px;
    left: 150px;
    font-size: 35px;
    font-family: "B Mahsa", ui-serif;
}

.form {
    position: absolute;
    bottom: 100px;
    left: 200px;
    font-size: 25px;
    font-family: "B Mahsa", ui-serif;
}


.inpArea {
    width: 300px;
    height: 50px;
}

.btnSave {
    right: 500px;
    width: 100px;

    margin: 10px;

    padding: 10px;

    border-radius: 10px;

    background-color:rgb(24, 98, 228) ;
}

.inp{
    width: 300px;
    height: 25px;
}
